$red: #F00;
$blue: #00F;
$white: #FFF;
$gray: #999;
$black: #000;
$nice-gray: #29292f;
$light-gray: #f3f3f3;

$text-color: $nice-gray;
$main-title-color: $text-color, 25;
$title-color: $text-color;
$sidebar-text-color: $nice-gray;

$main-color: #e0a161;
$background-color: $light-gray;

$header-height: 56px;

$sidebar-width: 150px;
